.header-container {
  position: relative;
  border: 2px solid black;
  background-color: rgb(245, 244, 244);
  border-radius: 5px;
  padding: 5px;
}
.menu-itc{
  display: inline-block;
}

.header-right-container {
  display: inline-block;
  position: absolute;
  right: 80px;
  margin-top: 5px
}

.menu-text {
  color: rgb(0, 0, 0);
  display: inline-block;
}

.menu-logo {
  display: inline-block;

}

a.links {
  margin: 15px;
  text-decoration: none;
}


